<div class="
  px-2
  py-1
  mt-5
  text-white
  cursor-pointer
  w-min
  bg-bo-activeBlueOrLinkPrimary
  hover:bg-bo-buttonDangerBgHover
  rounded
  medium:bg-bo-linkWarningHover
  large:bg-bo-successBoxTextHover
  xlarge:bg-bo-toggleOn
  xxlarge:bg-bo-activeBlueOrLinkPrimary
">Bonjour</div>
